<h1>enter your url </h1>
<% if @url.errors %>
  <% @url.errors.full_messages.each do |msg| %>
    <p> <%= msg %> </p>
  <%end%>
<%end%>
<%= form_for @url do |f|%>
  <%=f.label :long_url%>
  <%=f.text_field :long_url%>
  <%=f.submit%>
<%end%>
